.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.newDiaryBtn {
  padding: 0.8rem;
  border-radius: 0.8rem;
  font-size: 0.8rem;
  margin-right: 0.5rem;
  visibility: visible;
}

.binHidden {
  visibility: hidden;
}

.binVisible {
  visibility: visible;
}
