/* Full-screen overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.29);
  backdrop-filter: blur(8px);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border-width: 2px;
  box-shadow: 5px 10px 15px #00000096;
  gap: 10px;
  width: 20rem;
  z-index: 1;
  transition: 0.3s;
}

.container:hover {
  box-shadow: 10px 15px 10px #000;
  transition: 0.3s;
}

.container label {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.container input {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: transparent;
  border-radius: 0.5rem;
  outline: none;
  font-size: 1.2rem;
}

.container textarea {
  height: 8rem;
  border-radius: 1rem;
  background-color: transparent;
  font-size: 1rem;
  padding: 1rem;
  outline: none;
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

.titleInputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.titleInputContainer input {
  width: 100%;
  margin-top: 1rem;
}

.btnControls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}

.btnControls button {
  padding: 0.8rem;
  width: 5rem;
  margin-top: 1rem;
  border-radius: 0.4rem;
}
